<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Useeerss</title>
</head>
<body>
<h1>All Users:</h1>
    <table>
        <thead>
        <tr>
            <th th:text="Name">Name</th>
            <th th:text="Email">Email</th>
            <th th:text="Dob">dob</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td><a th:href="@{'/users/' + ${user.id}}"><span th:text="${user.name}"></span></a></td>
            <!--<td th:text="${user.id}"></td>-->
            <!--<td th:text="${user.name}"></td>-->
            <td th:text="${user.email}"></td>
            <td th:text="${user.dob}"></td>
        </tr>
        </tbody>
    </table>

<p>Add an user:</p>
<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <p>Name:</p>
    <input type="text" th:value="${name}" name="name"/>
    <p>Email:</p>
    <input type="text" th:value="${email}" name="email"/>
    Day of birth:
    <input type="date" th:value="${dob}" name="dob"><br />
    <input type="submit" />
</form>

<p>Links:</p>
<p><a href="/">Home</a></p>
<p><a href="/projects">Projecten</a></p>
<p><a href="/json/user">Json Users</a></p>
<p><a href="/json/project">Json Projects</a></p>

</body>
</html>